<html lang='ru'>
    <head>
        <meta charset='UTF-8' />
        <meta name='viewport' content='width=device-width, initial-scale=1.0' />
        <meta name='format-detection' content='telephone=no' />
        <meta
            http-equiv='Content-Security-Policy'
            content="default-src 'self' gap:; script-src * data: https://ssl.gstatic.com 'unsafe-inline' 'unsafe-eval'; object-src *; style-src 'self' data: 'unsafe-inline'; img-src 'self' data:; media-src 'self' data:; font-src 'self' data:; connect-src *"
        />
        <meta http-equiv='refresh' content='10; url=/' />
        <link rel='shortcut icon' type='image/png' href='/img/favicon-circle.png' />
        <title>{{title}}</title>
        <link rel='stylesheet' href='/css/main.min.css' />
    </head>
    <body>
        {{{body}}}
    </body>
</html>