<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scale=0">
	<meta name="format-detection" content="telephone=no">
	<meta http-equiv="Content-Security-Policy" content="default-src 'self' gap:; script-src * data: https://ssl.gstatic.com 'unsafe-inline' 'unsafe-eval'; object-src *; style-src 'self' data: 'unsafe-inline'; img-src 'self' data:; media-src 'self' data:; font-src 'self' data:; connect-src *">
	<meta name="payok" content="payok_verification"/>
	<meta name="yandex-verification" content="15c0469cb9192224" />
	<meta name="google-site-verification" content="PpO-I_hwJPAPZHTi1f6BEDJILiGBDQKbJ1l8KDrGWaI" />
	<link rel="shortcut icon" type="image/png" href="/img/favicon-circle.png"/>
	{{!-- <link rel="icon" type="image/x-icon" href="/favicon.ico"/> --}}
	<title>Купить Робуксы По Лучшему Курсу (1₽ = 3R$) | RobuxShop</title>
	<meta name="description" content="Самый популярный магазин по покупке робуксов. Здесь Вы можете купить робуксы по лучшему курсу (1₽ = 3R$). В нашем магазине Вы также сможете получить бесплатные робуксы, учавствовать в различных конкурсах. Только у нас есть 2 уникальных метода покупки. Получай удовольствие вместе с RobuxShop" />
	<meta name="keywords" content="Купить робуксы">
	<meta property="og:type" content="website">
	<meta property="og:image" content="/img/favicon.png">
	<link rel="stylesheet" href="/css/main.min.css">
	<!-- Yandex.Metrika counter -->
	<script type="text/javascript" >
		(function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
		m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
		(window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");
	
		ym(82158472, "init", {
			clickmap:true,
			trackLinks:true,
			accurateTrackBounce:true,
			webvisor:true
		});
	</script>
	<meta name="yandex-verification" content="bdd0e39944a88a7e" />
	<noscript><div><img src="https://mc.yandex.ru/watch/82158472" style="position: absolute; left: -9999px;" alt="" /></div></noscript>
	<!-- /Yandex.Metrika counter -->
</head>
	{{{body}}}
</html>