.gamepass-popup {
  .block_none {
    display: none !important;
  }

  .gamepass-close {
    background: linear-gradient(#fff, #fff), linear-gradient(#fff, #fff);
    background-position: center;
    background-size: 50% 2px, 2px 50%;
    background-repeat: no-repeat;
  }

  .block-wrapper {
    margin-top: 35px;
    margin-bottom: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .block {
    position: relative;
    min-width: 660px;
    padding: 40px;
    padding-bottom: 30px;
    border-radius: 60px;
    display: flex;
    justify-content: center;
  }

  .placeItem {
    cursor: pointer;
    width: 100%;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
    border-radius: 3px;
  }

  .closeBlock {
    display: none;
  }

  .close {
    cursor: pointer;
    position: absolute;
    right: -12px;
    top: -12px;
    transform: rotate(90deg);
  }

  .title-block {
    text-align: center;
    color: #23272A;
    font-size: 40px;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 20px;
    margin-top: 0;
  }

  .title-block span {
    color: #5B7EFB;
  }

  .block_text {
    margin-top: 10px;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    line-height: 28.8px;
  }

  .block_text span {
    font-weight: 700;
    color: #7C98FC;
  }

  .block_text a {
    cursor: pointer;
    font-weight: 700;
    color: #7C98FC;
    text-decoration: none;
    border-bottom: 2px solid #7C98FC;
  }

  .item {
    margin: 0 auto;
    width: 351px;
    height: 460px;
    overflow: hidden;
    background: rgba(255, 200, 188, 0.8);
    border-radius: 24px;
    border: 3px solid transparent;
  }

  .item_active {
    border: 3px solid #5B7EFB;
  }

  .btn {
    position: relative;
    margin: 0 auto;
    width: 380px;
    background-color: rgba(91, 126, 251, 0.4);
    border-radius: 100px;
    margin-top: 30px;
    transition: .2s;
  }

  .active {
    background-color: #5B7EFB;
  }

  .active:hover {
    background-color: #6485fa;
  }

  .button {
    cursor: pointer;
    padding: 20px 98px;
    text-align: center;
    text-decoration: none;
    border-radius: 100px;
    color: #fff;
    display: flex;
    justify-content: center;
  }

  .blocker {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 100px;
    cursor: pointer;
    height: 100%;
    width: 100%;
  }

  .notActive {
    display: none;
  }

  .erorr {
    background-color: #FF6D6D;
    padding: 14px 32px;
    color: #fff;
    border-radius: 18px;
    position: absolute;
    bottom: 20px;
    left: 50%;
    display: flex;
    justify-content: center;
    opacity: 0;
    transform: translateY(120px) translateX(-50%);
    transition: .2s;
    z-index: 999;
    width: 501px;
  }

  .erorr_active {
    opacity: 1;
    transform: translateY(0px) translateX(-50%);
  }

  .li-before {
    display: flex;
    align-items: center;
  }

  .link-svg {
    fill: #BBBFCB;
    height: 22px;
    width: 22px;
    margin-left: 3px;
  }

  .places {
    padding: 30px;
    color: #fff;
    .place {
      min-height: 320px;
      &__img {
        width: 128px;
        height: 128px;
        position: relative;
        .icon-btn {
          position: absolute;
          padding: 4px;
          border-radius: 4px;
          display: flex;
          align-items: center;
          justify-content: center;
          display: none;
          top: 5px;
          &-active {
            display: block;
          }
          &-bg {
            background-color: rgba(250, 250, 250, 0.16);
            animation-name: scaleBlock;
            animation-duration: 2s;
          }
          img {
            width: 24px;
            height: 24px;
          }
        }
        .listic {
          right: 5px;
        }
        .pencil {
          right: 37px;
        }
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 4px;
        }
        .dropdown {
          padding: 8px 0;
          font-style: normal;
          font-weight: 300;
          line-height: 140%;
          background: rgb(34, 34, 34);
          border-radius: 4px;
          box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
          position: absolute;
          top: -18px;
          right: -133px;
          display: none;
          &-active {
            display: block;
          }
          &__element {
            font-size: 13px;
            box-sizing: border-box;
            font-style: normal;
            font-weight: 300;
            line-height: 150%;
            white-space: nowrap;
            padding: 5px 13px;
            &-bg {
              background-color: #3B3B3B;
              animation-name: scaleBlock;
              animation-duration: 2s;
            }
          }
          .ddg {
            color: rgb(0, 232, 126);
          }
          .ddr {
            color: rgb(244, 100, 93);
          }
          .dd-border {
            border-bottom: #565656 solid 1px;
          }
        }
      }
      &__title {
        margin-top: 4px;
        text-overflow: ellipsis;
        font-size: 13px;
        font-style: normal;
        font-weight: 500;
        line-height: 140%;
        letter-spacing: 0.15px;
      }
      &__subtitle {
        margin-top: 4px;
        text-overflow: ellipsis;
        color: #CBCBCB;
        font-size: 11px;
        font-style: normal;
        font-weight: 300;
        line-height: 140%;
        letter-spacing: 0.15px;
      }
      .subtitle_public {
        color: rgb(0, 232, 126);
      }
    }
  }

  @media screen and (max-width:796px) {
    .block {
      width: 100%;
      min-width: 100px;
      padding: 20px 30px;
    }

    .wrapper {
      width: 100% !important;
      height: 100% !important;
    }

    .block-wrapper {
      margin-bottom: 40px;
    }
  }

  @media (max-width:679px) {
    .title-block {
      font-size: 24px;
      line-height: 24px;
    }

    .block_text {
      font-size: 14px;
      line-height: 17px;
    }

    .item {
      width: 215px;
      height: 280px;
    }

    .content p {
      font-size: 12px !important;
    }
    .block {
      padding: 10px 10px;
    }

    .block-wrapper {
      max-width: 439px;
    }
  }

  @media (max-width:562px) {
    .sidebar {
      display: none;
    }
    .block-wrapper {
      max-width: 380px;
    }
    .input__image {
      width: 154px !important;
    }
    .lable p {
      margin-left: 0 !important;
      margin-top: 9px !important;
    }
    .wrapper {
      padding: 15px !important;
    }
    .content {
      padding: 0 !important;
    }
  }

  @media (max-width:490px) {
    .btn {
      width: 100%;
    }

    .button {
      padding: 13px 0;
    }

    .erorr {
      margin-left: 10px;
      margin-right: 10px;
    }

    .erorr p {
      font-size: 13px;
    }

    .block-wrapper, .block_text  {
      max-width: 344px;
    }
  }

  @media (max-width:414px) {
    .inputPlace-wrap2 p {
      top: -1px !important;
    }

    .popup-instruction__button_close {
      right: 0px;
      top: -30px;
    }

    .dropdown {
      top: 12px !important;
      right: -56px !important;
    }
  }

  @media (max-width:375px) {

    .block {
      padding: 25px;
      border-radius: 35px;
    }

    .lable p {
      margin-top: 5px !important;
      margin-bottom: 0;
      font-size: 12px !important;
    }

    .inputText {
      margin-bottom: 10px !important;
    }

    .inputTextarea {
      margin-bottom: 15px !important;
    }

    .btn {
      margin-top: 15px;
    }

    .popup-instruction__container {
      overflow-y: auto;
      overflow-x: hidden;
      height: 100%;
      border-radius: 0;
    }
    .block {
      border-radius: 0 !important;
    }
    .block-wrapper, .block_text  {
      max-width: 320px;
      width: 100%;
    }

    .popup-instruction__button_close {
      right: 0;
      top: 0px;
    }

    .gamepass-close {
      background: linear-gradient(#171717,#171717),linear-gradient(#171717,#171717);
        background-position-x: 0%, 0%;
        background-position-y: 0%, 0%;
        background-repeat: repeat, repeat;
        background-size: auto, auto;
      background-position: center;
      background-size: 50% 2px,2px 50%;
      background-repeat: no-repeat;
    }
  }

  @media (max-height:653px) {
    .block {
      padding: 25px;
      padding-top: 20px;
      border-radius: 35px;

      margin-top: 30px;
      margin-bottom: 30px;
    }
  }


  // code


  .frontBLock {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
  }

  .wrapper {
    // font-family: 'Gotham-Book' !important;
    font-weight: 400;
    position: relative;
    background-color: #171717;
    border-radius: 24px;
    padding: 30px;
    padding-bottom: 15px;
    padding-top: 15px;
    margin-top: -15px;
    margin-bottom: -20px;
    width: 596px;
    height: 415px;
  }

  #files {
    display: none;
  }

  .inputFile {
    display: flex;
    margin-bottom: 10px;
  }

  .input__image {
    margin-top: -3px;
    margin-right: 16px;
    position: relative;
    width: 110px;
    height: 110px;
    background-color: rgba(255, 255, 255, 0.09);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    overflow: hidden;
  }

  .imgSvg {
    position: absolute;
    fill: #989898;
    height: 50px;
    width: 50px;

    z-index: -1;
  }

  .lable {
    z-index: 100;
  }

  .upload-btn {
    background: none;
    text-decoration: none;
    color: #EDEDED;
    text-transform: uppercase;
    font-size: 14px;
    border: 1px solid rgb(152, 152, 152);
    padding: 3px 9px;
    border-radius: 5px;
    transition: .2s;
    text-align: center;
    position: relative;
  }

  .input__file {
    opacity: 0;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    cursor: pointer;
  }

  .animation_lable {
    animation: buttons 2s;
  }

  .lable p {
    margin-top: 20px;
    margin-left: 10px;
    color: #CBCBCB;
    font-size: 14px;
  }

  .inputPlace-wrap {
    position: relative;
  }

  .inputPlace-wrap-m {
    margin-bottom: 14px;
  }

  .inputPlace-wrap p {
    color: #CBCBCB;
    position: absolute;
    left: 0;
    top: 9px;
  }

  .place_notActive {
    display: none;
  }

  .placegolder-notActive {
    display: none;
  }

  .inputText {
    position: relative;
    margin-bottom: 20px;
  }

  .inputText input {
    color: #CBCBCB;
    background-color: #2C2C2C;
    border: none;
    width: calc(100% - 10px);
    height: 40px;
    padding-left: 10px;
    border-radius: 3px 3px 0 0;
    border-bottom: 1px solid rgb(152, 152, 152);
    outline: none;
    z-index: -9999;
  }

  .inputText p,
  .inputTextarea p {
    margin: 0;
    margin-left: 10px;
    padding-top: 5px;
    color: #CBCBCB;
    font-size: 14px;
  }

  .inputTextarea {
    margin-bottom: 30px;
  }

  .inputTextarea textarea {
    color: #CBCBCB;
    width: calc(100% - 10px);
    height: calc(60px - 10px);
    padding-left: 10px;
    padding-top: 10px;
    resize: none;
    background-color: #2C2C2C;
    border: none;
    border-bottom: 1px solid rgb(152, 152, 152);
    border-radius: 3px 3px 0 0;
    outline: none;
  }

  .line {
    width: 100%;
    background-color: #565656;
    height: 1px;
  }

  .buttons {
    display: flex;
    align-items: center;
    margin-top: 20px;
  }

  .buttons a {
    text-align: center;
    color: #CBCBCB;
    text-decoration: none;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 3px;
    transition: .2s;
  }

  .primary-btn {
    margin-right: 10px;
    padding: 5px 10px;
    border: 1px solid rgb(152, 152, 152);
  }

  .primary-btn:hover {
    background-color: rgba(152, 152, 152, 0.2);
  }

  .secondary-btn {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    position: relative;
    background-color: #565656;

    border: 1px solid #565656;
  }

  .animationButtons {
    animation: buttons 2s;
  }

  .secondary-btn:hover {
    background-color: #646464;
  }

  .active2 {
    background-color: #2BB1FF;
  }

  .active:hover {
    background-color: #62c5fe;
  }

  .wrapper2 {
    margin-top: -10px;
    margin-bottom: -10px;
    // font-family: 'Gotham-Book' !important;
    font-weight: 400;
    padding: 0;
    // width: 658px;
    height: 100%;
  }


  .flex_wrap {
    display: flex;

  }

  .sidebar {
    position: relative;
    flex: 35%;
    padding-left: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 20px;
    border-right: 2px solid rgb(152, 152, 152);
  }

  .sidebar::before {
    content: 'pass';
    text-transform: uppercase;
    position: absolute;
    left: 25px;
    top: 20px;
    font-size: 10px;
    color: #989898;
  }

  .sidebar .title {
    color: #989898;
    font-size: 14px;
    text-transform: uppercase;
    margin-left: 7px;
  }

  .sidebar .subtitle {
    font-family: 'Gotham';
    font-weight: 700;
    text-align: left;
    color: #989898;
    font-size: 14px;
    text-transform: uppercase;
    margin-top: 30px;
    margin-bottom: -7px;
  }

  .sidebar ul {
    margin-top: 10px;
    margin-bottom: 10px;
    list-style-type: none;
    padding: 0;
  }

  .sidebar ul li {
    color: #c8c8c8;
    font-size: 14px;
    margin-top: 3px;
    margin-bottom: 3px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 2px;
  }

  .sidebar ul .li-active {
    font-weight: 700;
    background-color: #292D2F;
  }

  .sidebar .li-before {

    color: #c8c8c8;
    font-size: 14px;
  }

  .li-before-margin {
    margin: 14px 0;
  }

  .content {
    flex: 65%;
    padding: 30px;
    padding-bottom: 60px;
  }

  .content .content_title {
    font-family: 'Gotham';
    font-weight: 900;
    color: #c8c8c8;
    margin: 0 0 22px;
  }

  .content_date {
    margin-bottom: 14px;
  }

  .content p {
    color: #c8c8c8;
    font-size: 14px;
  }

  .inputRob {
    outline: none;
    color: #c8c8c8;
    padding-left: 30px;
    background-color: #2C2C2C;
    border: none;
    height: 35px;
    width: calc(70% - 30px);
    border-radius: 3px 3px 0 0;
    border-bottom: 1px solid #fff;
  }

  .inputPlace-wrap2 p {
    left: 30px;
    top: 7px;
  }

  .input_wrap {
    position: relative;
  }

  .input_img {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 15px;
    height: 15px;
    fill: #c8c8c8;
  }

  .texts {
    width: 90%;
    display: flex;
    justify-content: space-between;
  }

  .robImg {
    display: flex;
  }

  .robImg svg {
    fill: #c8c8c8;
    width: 20px;
    height: 20px;
  }

  .robImg span {
    margin-left: 3px;
    font-size: 16px;
  }

  .commission-none {
    display: none;
  }

  .notActive-span {
    display: none;
  }

  .active-span {
    display: block;
  }

  .switch_wrap {
    display: flex;
    align-items: center;
  }

  .switch_wrap .text {
    margin-left: 10px;
    margin: 14px 10px 14px;
  }

  .switch-btn {
    display: inline-block;
    width: 26px;
    /* ширина переключателя */
    height: 12px;
    /* высота переключателя */
    border-radius: 12px;
    /* радиус скругления */
    background: #bfbfbf;
    /* цвет фона */
    z-index: 0;
    margin: 0;
    padding: 0;
    border: none;
    cursor: pointer;
    position: relative;
    transition-duration: 300ms;
    /* анимация */
  }

  .switch-btn::after {
    content: "";
    height: 17px;
    width: 17px;
    border-radius: 18px;
    background: #fff;
    top: -2px;
    left: -2px;
    transition-duration: 300ms;
    box-shadow: 0 0 10px 0 #999999;
    position: absolute;
    z-index: 1;
  }

  .switch-on {
    background: #1E516F;
    /* тень */
  }

  .switch-on::after {
    left: 12px;
    background: #2BB1FF;
  }

  /* Animation */


  @keyframes buttons {
    0% {
      transform: scale(1);
    }

    16.777% {
      transform: scale(1.1);
      background-color: red;
    }

    32% {
      transform: scale(1);
      background-color: red;
    }

    48.777% {
      transform: scale(1.1);
      background-color: red;
    }

    64% {
      transform: scale(1);
      background-color: red;
    }

    80% {
      transform: scale(1.1);
      background-color: red;
    }

    100% {
      transform: scale(1);
      background: none;
    }
  }


}