<main class="main">
    <div class="error-page">
        <div class="error-page__container container">
            <div class="error-page__content">
                <h1 class="error-page__title title">404</h1>

                <h2 class="error-page__subtitle title-secondary">Страница не найдена</h2>

                <p class="error-page__text">Неправильно набран адрес или такой<br>страницы не существует</p>

                <div class="error-page__links">
                    <a href="https://t.me/robuxshop_ru" target="_blank" class="error-page__link error-page__link_telegramm"></a>

                    <a href="https://vk.com/robuxshopweb" target="_blank" class="error-page__link error-page__link_wk"></a>

                    <a href="/" class="link-button">На главную</a>
                </div>
            </div>
        </div>
    </div>
</main>