<main class='main'>
    <div class='failed answer-page'>
        <div class='answer-page__container container'>
            <div class='answer-page__content'>
                <h1 class='answer-page__title title'>Ошибка при оплате!</h1>

                <p class='answer-page__text'>Возникли сложности при оплате заказа, пожалуйста
                    попробуйте повторить попытку позже. Если Вы указали номер телефона или почту, то
                    к Вам придет уведомление об ошибки.</p>

                <p class='answer-page__text'>Спасибо что выбрали RobuxShop, если Вы хотите получать
                    новости первыми и быть в курсе новых конкурсов, то можете посетить наши группы:</p>

                <div class='answer-page__links'>
                    <a
                        href='https://t.me/robuxshop_ru'
                        target='_blank'
                        class='answer-page__link answer-page__link_telegramm'
                    >
                        <img class="lazy" data-src='/img/logo-telegram.png' />
                    </a>

                    <a
                        href='https://vk.com/robuxshopweb'
                        target='_blank'
                        class='answer-page__link answer-page__link_wk'
                    >
                        <img class="lazy" data-src='/img/logo-vk.png' />
                    </a>

                    <a href='/' class='link-button'>На главную</a>
                </div>
            </div>
        </div>
    </div>
</main>