<body id="my-scrollbar">
    {{> index/preloader}}
    {{> index/header}}
    <main class="main">
        {{> index/hero}}
        <div class="promo-statistics-section">
            {{> index/promo}}
            {{> index/statistics}}
        </div>
        <div id="Advantages" class="advantages-section">
           {{> index/advantages}}
        </div>
        {{> index/faq}}
        {{> index/comments}}
        {{> index/feedback}}
    </main>
        {{> index/footer}}
        {{> index/stuck-popup}}
        {{> index/gamepass-popup}}
        {{> index/vipserver-popup}}
        {{> index/error-popup}}
        {{> index/check-popup}}

    <script src="/js/main.min.js"></script>
</body>