<main class='main'>
    <div class='successful answer-page'>
        <div class='answer-page__container container'>
            <div class='answer-page__content'>
                <h1 class='answer-page__title title'>Заказ <span class='accent'>принят!</span></h1>

                <p class='answer-page__text'>Ваш заказ был успешно создан и отправлен на обработку.
                    До 48 часов стоимость GamePass будет оплачена и робуксы поступят к Вам в
                    pending (робуксы в ожидании), а через 5-6 дней автоматически будут перенаправлены к Вам в баланс.</p>

                <p class='answer-page__text'>Спасибо, что выбрали нас!</p>

                <p class='answer-page__text'>Если Вы хотите узнавать новости первыми, принимать
                    участие в наших конкурсах и викторинах, то советуем посетить наши группы:</p>

                <div class='answer-page__links'>
                    <a
                        href='https://t.me/robuxshop_ru'
                        target='_blank'
                        class='answer-page__link answer-page__link_telegramm'
                    >
                        <img class="lazy" data-src='/img/logo-telegram.png' />
                    </a>

                    <a
                        href='https://vk.com/robuxshopweb'
                        target='_blank'
                        class='answer-page__link answer-page__link_wk'
                    >
                        <img class="lazy" data-src='/img/logo-vk.png' />
                    </a>

                    <a href='/' class='link-button'>На главную</a>
                </div>
            </div>
        </div>
    </div>
</main>