<section class='advantages'>
	<div class='advantages__container'>
		<div class='advantages__card advantages-card container'>
			<div class='advantages-card__image' data-aos='fade-right'>
				<picture>
					<source srcset='/img/advantages-rate.webp' type='image/webp' width="570px" height="380px"/>
					<img class="lazy" loading="lazy" data-src='/img/advantages-rate.png' alt='Выгодный курс' width="570px" height="380px"/>
				</picture>
			</div>

			<div class='advantages-card__content' data-aos='fade' data-aos-delay='500'>
				<h2 class='advantages-card__title title'>
					Выгодный курс
				</h2>

				<p class='advantages-card__text'>
					RobuxShop предоставляет один из лучших курсов на рынке! На сегодняшний день
					получить 1000 робуксов можно всего за 500₽. Мы единственные на рынке кто
					работает напрямую с поставщиками, не используя посредников. Именно поэтому у нас
					самый выгодный курс.
				</p>
			</div>
		</div>

		<div class='advantages-container' data-aos='fade' data-aos-delay='200'>
			<div class='advantages__card advantages-card container'>
				<div class='advantages-card__content' data-aos='fade' data-aos-delay='500'>
					<h2 class='advantages-card__title title'>
						Быстрая поддержка
					</h2>

					<p class='advantages-card__text'>
						Магазин RobuxShop предоставляет быструю и отзывчивую поддержку игроков. С
						нами можно связаться в группе VK или Telegram канале. Если возникнут
						трудности с получением или проблемы с покупкой, то Вам ответят в течении 10
						минут.
					</p>
				</div>

				<div class='advantages-card__image' data-aos='fade-left'>
					<picture>
						<source srcset='/img/advantages-support.webp' type='image/webp' width="570px" height="380px"/>
						<img class="lazy" loading="lazy" data-src='/img/advantages-support.png' alt='Быстрая поддержка' width="570px" height="380px"/>
					</picture>
				</div>
			</div>
		</div>

		<div class='advantages__card advantages-card container'>
			<div class='advantages-card__image' data-aos='fade-right'>
				<picture>
					<source srcset='/img/advantages-quality.webp' type='image/webp' width="570px" height="380px"/>
					<img class="lazy" loading="lazy" data-src='/img/advantages-quality.png' alt='Гарантия качества' width="570px" height="380px"/>
				</picture>
			</div>

			<div class='advantages-card__content' data-aos='fade' data-aos-delay='500'>
				<h2 class='advantages-card__title title'>
					Гарантия качества
				</h2>

				<p class='advantages-card__text'>
					Мы ценим наших покупателей и именно поэтому защищаем все сделки. Деньги остаются
					в банке до тех пор, пока игрок не получит робуксы на свой игровой счет. В
					случае, если игрок не получает валюту, то деньги возвращаются обратно на карту.
				</p>
			</div>
		</div>

		<div class='advantages-container' data-aos='fade' data-aos-delay='200'>
			<div class='advantages__card advantages-card container'>
				<div class='advantages-card__content' data-aos='fade' data-aos-delay='500'>
					<h2 class='advantages-card__title title'>
						Довольные покупатели
					</h2>

					<p class='advantages-card__text'>
						Мы стараемся обращать внимание на каждую мелочь, поэтому улучшаем сайт
						каждый день, чтобы каждый посетитель оставался довольным. На нашем сайте или
						в группе VK Вы сможете найти очень много положительных отзывов от
						покупателей. Мы им очень благодарны!
					</p>
				</div>

				<div class='advantages-card__image' data-aos='fade-left'>
					<picture>
						<source srcset='/img/advantages-method.webp' type='image/webp' width="570px" height="380px"/>
						<img class="lazy" loading="lazy" data-src='/img/advantages-method.png' alt='Способы покупки' width="570px" height="380px"/>
					</picture>
				</div>
			</div>
		</div>
	</div>
</section>