<section class='check-popup popup'>
    <div class='popup__container'>
        <div class='popup__content'>
            <h2 class='popup__title title'>
                Покупки
            </h2>

            <p>Робуксы в пендинг приходят в течении 48 часов</p>
            <br />

            <div class='content'>
            </div>
        </div>
        <button class='popup__button popup__close check-close'></button>
    </div>
</section>