<section id="Comments" class="comments _anim-items">
  <div class="comments__container container">
    <div class="comments__header" data-aos='fade-down' data-aos-delay='200'>
<h2 class="comments__title title-secondary">Отзывы</h2>
     <div class="comments__navigation slider-navigation">
        <button type="button" class="comments__slider_prev slider-prev"></button>
        <button type="button" class="comments__slider_next slider-next"></button>
     </div>
    </div>
    
    </div>
    <div class="comments__ticker comments-ticker swiper-container" data-aos='fade-up' data-aos-delay='200'>
        <div class="comments-ticker__container swiper-wrapper">
          <div class="comments-ticker__card comments-card swiper-slide">
           <div class="wrapper-cooments-ticker__card">
              <div class="comments-card__top">
              <div class="header-comments-card__top">
               <img class="lazy comments-card__img" loading="lazy" data-src="/img/comment-4.jpg" alt="Аватарка-4" />
                <a class="vk-link" href="https://vk.com/topic-194350113_41404039?post=1760" target="_blank"></a>
              </div>
              <div class="comments-card__info">
                  <p class="comments-card__experience">8.07.2022</p>
                  <p class="comments-card__name">Семен Королев</p>
                  <p class="comments-card__text">
                    Робуксы уже через 2 минуты пришли в пендинг через 4 дня должны прилететь мне на баланс, покупал 700 робаксов за 280 рублей супер😳 сайт топ буду участвовать в розыгрышах,и раздачах. Спасибо огромное разработчику.!!!!
                  </p>
              </div>
            </div>
           </div>
         
            </div>
                  <div class="comments-ticker__card comments-card swiper-slide">
                    <div class="wrapper-cooments-ticker__card">
                      <div class="comments-card__top">
                      <div class="header-comments-card__top">
                       <img class="lazy comments-card__img" loading="lazy" data-src="/img/comment-5.jpg" alt="Аватарка-5" />
                        <a class="vk-link" href="https://vk.com/topic-194350113_41404039?post=1770" target="_blank"></a>
                      </div>
                      <div class="comments-card__info">
                        <p class="comments-card__experience">12.07.2022</p>
                        <p class="comments-card__name">Antonio Kunitsyn</p>
                        <p class="comments-card__text">
                          Сайт отличный, тех. поддержка хорошо обслуживает, на пендинг все пришло, советую покупать только здесь.
                        </p>
                      </div>
                    </div>
                    </div>

                  </div>
                  <div class="comments-ticker__card comments-card swiper-slide">
                    <div class="wrapper-cooments-ticker__card">
                      <div class="comments-card__top">
                      <div class="header-comments-card__top">
                       <img class="lazy comments-card__img" loading="lazy" data-src="/img/comment-6.jpg" alt="Аватарка-6" />
                        <a class="vk-link" href="https://vk.com/topic-194350113_41404039?post=1756" target="_blank"></a>
                      </div>
                      <div class="comments-card__info">
                        <p class="comments-card__experience">7.07.2022</p>
                        <p class="comments-card__name">Илья Кобзев</p>
                        <p class="comments-card__text">
                          Все отлично! Купил 425 робуксов и через 3-4 часа они уже пришли в пендинг! Жду 5 дней когда они придут на баланс, не обман! Цены суперски дешёвые, лучший сайт!
                        </p>
                      </div>
                    </div>
                    </div>

                  </div>
                  <div class="comments-ticker__card comments-card swiper-slide">
                    <div class="wrapper-cooments-ticker__card">
                      <div class="comments-card__top">
                      <div class="header-comments-card__top">
                       <img class="lazy comments-card__img" loading="lazy" data-src="/img/comment-7.jpg" alt="Аватарка-7" />
                        <a class="vk-link" href="https://vk.com/topic-194350113_41404039?post=1764" target="_blank"></a>
                      </div>
                      <div class="comments-card__info">
                        <p class="comments-card__experience">11.07.202</p>
                        <p class="comments-card__name">Аня Раздватри</p>
                        <p class="comments-card__text">
                          Днем купила робуксы, а уже вечером они пришли на пендинг (хотя может и раньше, не могла постоянно следить) Советую в общем, не скам:)
                        </p>
                      </div>
                    </div>
                    </div>

                 
                  </div>
                  <div class="comments-ticker__card comments-card swiper-slide">
                    <div class="wrapper-cooments-ticker__card">
                      <div class="comments-card__top">
                      <div class="header-comments-card__top">
                       <img class="lazy comments-card__img" loading="lazy" data-src="/img/comment-8.jpg" alt="Аватарка-8" />
                        <a class="vk-link" href="https://vk.com/topic-194350113_41404039?post=1765" target="_blank"></a>
                      </div>

                      <div class="comments-card__info">
                        <p class="comments-card__experience">12.07.2022</p>
                        <p class="comments-card__name">Софа Крючкова</p>
                        <p class="comments-card__text">
                          Выиграла в розыгрыше! Всё оплатили сразу же! Хороший сайт)
                        </p>
                      </div>
                    </div>
                    </div>

                 
                  </div>
                  <div class="comments-ticker__card comments-card swiper-slide">
                    <div class="wrapper-cooments-ticker__card">
                      <div class="comments-card__top">
                      <div class="header-comments-card__top">
                       <img class="lazy comments-card__img" loading="lazy" data-src="/img/comment-9.jpg" alt="Аватарка-9" />
                        <a class="vk-link" href="https://vk.com/topic-194350113_41404039?post=1762" target="_blank"></a>
                      </div>

                      <div class="comments-card__info">
                        <p class="comments-card__experience">11.07.2022</p>
                        <p class="comments-card__name">Семён Яненков</p>
                        <p class="comments-card__text">
                          Не скам! Купил 900Р. Пришли в пнгд за 3 часа после оплаты покупки (может и меньше). Теперь жду когда придут на счёт😉
                        </p>
                      </div>
                    </div>

                    </div>
                    
                  </div>
                  <div class="comments-ticker__card comments-card swiper-slide">
                    <div class="wrapper-cooments-ticker__card">
                      <div class="comments-card__top">
                      <div class="header-comments-card__top">
                       <img class="lazy comments-card__img" loading="lazy" data-src="/img/comment-10.jpg" alt="Аватарка-10" />
                        <a class="vk-link" href="https://vk.com/topic-194350113_41404039?post=1772" target="_blank"></a>
                      </div>

                      <div class="comments-card__info">
                        <p class="comments-card__experience">13.07.2022</p>
                        <p class="comments-card__name">Алина Шабалина</p>
                        <p class="comments-card__text">
                          Здравствуйте, этот сайт замечательный, он рабочий, задонатила 1000 робуксов 6 дней назад, мне пришли на 6 день, я рада😜
                        </p>
                      </div>
                    </div>
                    </div>
                   
            </div>
          </div>
             <div class="comments__pagination swiper-pagination"></div>
    </div>

 

  </div>
</section>


     