<section id="Faq" class="faq" data-aos='fade-up' data-aos-delay='500'>
    <div class="faq__container container">
        <div class="faq__left">
            <h2 class="faq__title title-secondary">
                Faq
            </h2>

            <p class="faq__text">
                У нас на все есть ответ! Здесь собраны самые популярные вопросы, которые нам задают пользователи. Если у Вас появился вопрос, на который здесь нет ответа, то пишите нам в одну из удобных Вам групп:
            </p>

            <p class="faq__links">
                <a href="https://t.me/robuxshop_ru" target="_blank" class="faq__link tg-link"></a>

                <a href="https://vk.com/robuxshopweb" target="_blank" class="faq__link vk-link"></a>
            </p>
        </div>

        <div class="faq__right">
            <div class="faq__accordion faq-accordion">
                <div class="faq-accordion__item">
                    <input id="faq-1" class="faq-accordion__input" type="checkbox">
                    <label class="faq-accordion__title" for="faq-1">
                        Что делать если заказ не пришел?
                    </label>
                    <p class="faq-accordion__text">
                        У метода Game Pass есть свое время ожидания, если вы сделали все в соответствии с инструкцией, то Вы обязательно получите купленные робуксы.
                        Если срок ожидания превысил указанный, напишите в <a class="faq-accordion__link" href="https://vk.com/robuxshopweb" target="_blank">службу поддержки</a>.
                    </p>
                </div>

                <div class="faq-accordion__item">
                    <input id="faq-2" class="faq-accordion__input" type="checkbox">
                    <label class="faq-accordion__title" for="faq-2">
                        Когда придет мой заказ?
                    </label>
                    <p class="faq-accordion__text">
                        На данный момент время доставки робуксов от 5 до 6 дней.
                    </p>
                </div>

                <div class="faq-accordion__item">
                    <input id="faq-3" class="faq-accordion__input" type="checkbox">
                    <label class="faq-accordion__title" for="faq-3">
                        Как оформить заказ?
                    </label>
                    <p class="faq-accordion__text">
                        Перейдя по ссылке <a class="faq-accordion__link" href="#Feedback" target="_blank">«Купить робуксы»</a>, перед Вами появится окно ввода данных, после их заполнения следуйте инструкции. При правильном заполнении данных Вас перекинет на окно оплаты заказа, после оплаты останется лишь дождаться доставки робуксов.
                    </p>
                </div>


                <div class="faq-accordion__item">
                    <input id="faq-4" class="faq-accordion__input" type="checkbox">
                    <label class="faq-accordion__title" for="faq-4">
                        Как не попасть на мошенников?
                    </label>
                    <p class="faq-accordion__text">
                        Единственный официальный сайт по продажам робуксов - <a class="faq-accordion__link" href="http://robuxshop.ru" target="_blank">robuxshop.ru</a>. Пожалуйста, перед тем как оформить заказ проверьте правильность ссылки. Также у нас есть официальная группа - <a class="faq-accordion__link" href="https://vk.com/robuxshopweb" target="_blank">@vk.chanel.robuxshop</a>, в ней указаны правильные ссылки на наш сайт, перейдя по ним, Вы никогда не дадите себя обмануть.
                    </p>
                </div>

                <div class="faq-accordion__item">
                    <input id="faq-5" class="faq-accordion__input" type="checkbox">
                    <label class="faq-accordion__title" for="faq-5">
                        Как получить робуксы бесплатно?
                    </label>
                    <p class="faq-accordion__text">
                        Чтобы получить робуксы бесплатно, Вы можете принять участие в розыгрышах и различных акциях, более подробную информацию Вы сможете найти в нашей <a class="faq-accordion__link" href="https://vk.com/robuxshopweb" target="_blank">группе</a>.
                    </p>
                </div>

                <div class="faq-accordion__item">
                    <input id="faq-6" class="faq-accordion__input" type="checkbox">
                    <label class="faq-accordion__title" for="faq-6">
                        Часто ли пополняются робуксы?
                    </label>
                    <p class="faq-accordion__text">
                        Мы стараемся следить за оптимальным количеством робуксов на сайте, Вы можете посмотреть доступное количество в разделе <a class="faq-accordion__link" href="#Statistics" target="_blank">статистика</a>.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>