<footer id='Footer' class='footer'>
    <div class='footer__container container'>
        <div class='footer__top'>
            <ul class='footer__list footer-list list-footer_menu'>
                <li class='footer-list__item'>
                    <h4 class='footer-list__title'>Продукт</h4>
                </li>

                <li class='footer-list__item'>
                    <a href='#Promo' class='footer-list__link'>Новости</a>
                </li>

                <li class='footer-list__item'>
                    <a href='#Statistics' class='footer-list__link'>Статистика</a>
                </li>

                <li class='footer-list__item'>
                    <a href='#Advantages' class='footer-list__link'>Преимущества</a>
                </li>

                <li class='footer-list__item'>
                    <a href='#Comments' class='footer-list__link'>Отзывы</a>
                </li>
            </ul>

            <ul class='footer__list footer-list list-footer_menu'>
                <li class='footer-list__item'>
                    <h4 class='footer-list__title'>Помощь</h4>
                </li>

                <li class='footer-list__item'>
                    <a href='#Faq' class='footer-list__link'>FAQ</a>
                </li>

                <li class='footer-list__item'>
                    <a
                        href='/pdf/instruction-gamepass.pdf'
                        target='_blank'
                        class='footer-list__link'
                    >Инструкция</a>
                </li>

                <li class='footer-list__item'>
                    {{! <a href="/pdf/requisites.pdf" target="_blank" class="footer-list__link">Реквизиты</a> }}
                </li>
            </ul>

            <ul class='footer__list footer-list'>
                <li class='footer-list__item'>
                    <h4 class='footer-list__title'>Полезные ссылки</h4>
                </li>

                <li class='footer-list__item'>
                    <a
                        href='https://vk.com/robuxshopweb'
                        target='_blank'
                        class='footer-list__link'
                    >@vk.chanel.robuxshop</a>
                </li>

                <li class='footer-list__item'>
                    <a
                        href='https://t.me/robuxshop_ru'
                        target='_blank'
                        class='footer-list__link'
                    >@telegram.chanel.robuxshop</a>
                </li>
            </ul>

            <ul class='footer__list footer-list'>
                <li class='footer-list__item'>
                    <h4 class='footer-list__title'>Сотрудничество</h4>
                </li>

                <li class='footer-list__item'>
                    <span class='footer-list__text'>Если Вы хотите стать нашим партнёром или у Вас
                        есть что предложить, пишите:
                        <a
                            href='https://vk.com/podderjka.robuxshop'
                            target='_blank'
                            class='link-underline'
                        >@cooperation.robuxshop</a></span>
                </li>
            </ul>
        </div>

        <div class='footer__bottom'>
            <ul class='footer__list footer-list'>
                <li class='footer-list__item'>
                    <span class='footer-list__text'>RobuxShop, 2022©</span>
                </li>
            </ul>

            <ul class='footer__list footer-list'>
                <li class='footer-list__item'>
                    {{! <a href="https://nicodigital.ru" target="_blank">Сделано — <b>nico.</b></a> }}
                </li>
            </ul>

            <ul class='footer__list footer-list'>
                <li class='footer-list__item'>
                    <h4 class='footer-list__title'>Техподдержка</h4>
                </li>

                <li class='footer-list__item'>
                    <a
                        href='https://vk.me/robuxshopweb'
                        target='_blank'
                        class='link-underline'
                    >@support.robuxshop</a>
                </li>
            </ul>

            <ul class='footer__list footer-list'>
                <li class='footer-list__item'>
                    <a class='link-underline' href='/pdf/policy.pdf' target='_blank'>Политика
                        конфиденциальности</a>
                </li>

                <li class='footer-list__item'>
                    <a class='link-underline' href='/pdf/policy.pdf' target='_blank'>Политика
                        персональных данных</a>
                </li>
            </ul>
        </div>
    </div>
</footer>