<header class="header" data-aos='fade-down' data-aos-delay='500'>
    <div class="header__container container">
        <a class="header__logo" href="https://robuxshop.ru">
            <svg>
                <use xlink:href="/img/sprite.svg#logo"></use>
            </svg>
        </a>
        <nav class="header__nav nav burger-menu">
            <a class="nav__link nav__link_logo" href="https://robuxshop.ru">
                <svg>
                    <use xlink:href="/img/sprite.svg#logo"></use>
                </svg>
            </a>

            <ul class="nav__block nav-block">
                <li class="nav-block__item">
                    <a class="nav-block__link nav-mobile_link" href="#Promo">
                        Новости
                    </a>
                </li>

                <li class="nav-block__item">
                    <a class="nav-block__link nav-mobile_link" href="#Statistics">
                        Статистика
                    </a>
                </li>

                <li class="nav-block__item">
                    <a class="nav-block__link nav-mobile_link" href="#Advantages">
                        Преимущества
                    </a>
                </li>

                <li class="nav-block__item">
                    <a class="nav-block__link nav-mobile_link" href="#Comments">
                        Отзывы
                    </a>
                </li>

                <li class="nav-block__item">
                    <a class="nav-block__link nav-mobile_link" href="#Footer">
                        Помощь
                    </a>
                </li>

                <li class="nav-block__item">
                    <a class="nav-block__link nav-mobile_link" href="#Faq">
                        FAQ
                    </a>
                </li>
            </ul>

            <a class="nav__link nav__link_button nav-mobile_link" href="#Feedback">
                Купить робуксы
            </a>
        </nav>

       <div class="wrapper-burger-button">
           <div class="wrapper-nav-block__burger">
                <button class="nav-block__burger burger-button">
                <span class="burger-button__line burger-button__line_1"></span>
                <span class="burger-button__line burger-button__line_2"></span>
                <span class="burger-button__line burger-button__line_3"></span>
            </button>
           </div>
              <a class="nav__link nav__link_button nav-mobile_link wrapper-nav-block_link" href="#Feedback">
                Купить робуксы
            </a>
       </div>
    </div>
</header>