<section class="hero">
    <div class="hero__container">
        <div class="hero__content">
            <div class="hero__body">
                <div class="hero__left">
                    <h1 class="hero__title title" data-aos="fade">Получай удовольствие от игры вместе с <span class="hero__title name">RobuxShop</span> </h1>

                    <p class="hero__text text" data-aos="fade" data-aos-delay="700">Мы создали для Вас удобный и понятный сайт по покупке робуксов. Покупайте у нас по самой выгодной цене во всем рунете и получайте
                        удовольствие от любимой игры.</p>

                    <div class="hero__links">
                        <a href="#Feedback" class="hero__link hero__link_main">
                            <span>Купить Робуксы</span>
                            <strong>1₽ = {{{rate}}}R$</strong>
                        </a>
                    </div>
                </div>
                <div class="hero__right" data-aos='fade-left' data-aos-delay='500'>
                    <picture>
						<source srcset='img/hero-pesonage-main.webp' type='image/webp'/>
						<img class="lazy" loading="lazy" data-src="img/hero-pesonage-main.png" alt="hero-robuxshop">
					</picture>

                </div>
            </div>

        </div>
       </div>
    </div>
</section>