<div class="preloader">
    <div class="preloader__container">
        {{!-- <div class="preloader__content">
            <svg class="preloader__item">
                <use xlink:href="/img/sprite.svg#preloader-logo"></use>
            </svg>
        </div> --}}

        <div class="circle">
            <div class="dots"></div>
        </div>
    </div>
</div>
