<section id="Promo" class="promo" data-aos="zoom-in" data-aos-delay='500'>
    <div class="promo__container">
        <div class="promo__slider promo-slider">
            <div class="swiper-wrapper">
              <div class="swiper-slide" data-swiper-parallax-scale="0">
                  <div class="promo-slider__image">
                      <a href="https://vk.com/robuxshopweb" target="_blank">
                        <picture>
                            <source srcset="img/slider-promo_01.webp" type="image/webp" width="545px">
                            <img class="lazy" loading="lazy" data-src="img/slider-promo_01.jpg" alt="slide-01" width="545px">
                        </picture>
                    </a>
                  </div>
              </div>
            <div class="swiper-slide" data-swiper-parallax-scale="0">
                <div class="promo-slider__image">
                    <a href="https://vk.com/robuxshopweb" target="_blank">
                        <picture>
                            <source srcset="img/slider-promo_03.webp" type="image/webp" width="545px">
                            <img class="lazy" loading="lazy" data-src="img/slider-promo_03.jpg" alt="slide-03" width="545px">
                        </picture>
                    </a>
                </div>
            </div>
             <div class="swiper-slide" data-swiper-parallax-scale="0">
                <div class="promo-slider__image">
                    <a href="https://vk.com/robuxshopweb" target="_blank">
                     <picture>
                            <source srcset="img/slider-promo_02.webp" type="image/webp" width="545px">
                            <img class="lazy" loading="lazy" data-src="img/slider-promo_02.jpg" alt="slide-02" width="545px">
                        </picture>
                    </a>
                </div>
            </div>
                

            </div>
            <div class="promo-slider__pagination swiper-pagination"></div>

            {{!-- <div class="swiper-buttons swiper-button-prev"></div>
            <div class="swiper-buttons swiper-button-next"></div> --}}
          </div>
    </div>
</section>