<section id="Statistics" class="statistics" data-aos="fade-right" data-aos-delay='700'>
    <div class="statistics__container container">
        <ul class="statistics__list statistics-list">
           {{!-- <li class="statistics-list__item">
               <h3 class="statistics-list__title statistics_online title">30</h3>

               <p class="statistics-list__text">Онлайн на сайте</p>
           </li> --}}

           <li class="statistics-list__item">
            <h3 class="statistics-list__title statistics_available title"><span class="big-inf">∞</span> R$</h3>

            <p class="statistics-list__text">Доступно к покупке</p>
            </li>

            <li class="statistics-list__item">
                <h3 class="statistics-list__title statistics_sold title">11 235 877 R$</h3>

                <p class="statistics-list__text">Продано всего</p>
            </li>

            <li class="statistics-list__item">
                <h3 class="statistics-list__title statistics_buy title">17 582</h3>

                <p class="statistics-list__text">Колличество покупок</p>
            </li>
        </ul>
       </div>
    </div>
</section>