<section class="stuck popup">
    <div class="popup__container">
        <div class="popup__content">
            <h2 class="popup__title title">
                Покупайте у нас по самому выгодному курсу
            </h2>

            <p class="popup__text">
               Ещё у нас есть группа VK и Telegram канал, в них мы регулярно выкладываем конкурсы и акции. Также Вы сможете пообщаться с&nbsp;нашими пользователями и узнать самые важные новости 
            </p>

            <ul class="popup__list">
                <li class="popup__item">
                    <a href="#Feedback" class="popup__link popup__link_go link-button popup__close">Купить</a>
                </li>
               
                <li class="popup__item">
                     <a href="https://t.me/robuxshop_ru" target="_blank" class="faq__link  tg-link "></a>
                    <a href="https://vk.com/robuxshopweb" target="_blank" class="faq__link vk-link "></a>
                </li>
            </ul>
        </div>
        <button class="popup__button popup__close"></button>
    </div>
</section>