<section class="vipserver-popup popup-instruction">
    <div class="popup-instruction__container">
        <div class="popup-instruction__content">
            <svg class="popup-instruction__logo">
                <use xlink:href="/img/sprite.svg#logo-black"></use>
            </svg>
    
            <h2 class="popup-instruction__title">Инструкция VIP&nbsp;Сервер</h2>
    
            <h3 class="popup-instruction__title_description">
                Как это работает?
            </h3>
    
            <p class="popup-instruction__text">
                При покупке трансферным методом VIP Сервер, Вы выставляете  цену на свой Place в игре, а мы покупаем его у Вас. После этого Вам приходят робуксы на аккаунт в течении 5-6 дней.
            </p>        
    
            <div class="popup-instruction__steps instruction-steps">
                <div class="instruction-steps__item">
                    <div class="instruction-steps__step">
                        1
                    </div>

                    <p class="instruction-steps__text">
                        Перейти по ссылке в Ваш аккаунт, если у Вас его нет, то зарегистрироваться
                    </p>
    
                    <a class="instruction-steps__link instruction-steps__button">Перейти</a>
                </div>

                <div class="instruction-steps__item">
                    <div class="instruction-steps__step">
                        2
                    </div>

                    <p class="instruction-steps__text">
                        Нужно установить количество робуксов на <span class="instruction-price__full instruction-price__full_color"></span> в указанное поле
                    </p>
                    
                    <div class="instruction-steps__wrapper instruction-wrapper">
                        <img class="instruction-steps__img" src="/img/vipserver-step.gif" alt="Видео инструкция">
                    </div>
                </div>
    
                <div class="instruction-steps__item">
                    <div class="instruction-steps__warning instruction-warning">
                        <svg class="instruction-warning__img">
                            <use xlink:href="/img/sprite.svg#warning"></use>
                        </svg>
    
                        <p class="instruction-warning__text">
                            Если Вам высвечиваются красные таблички, просто проигнорируйте их. Не забудьте нажать кнопку «Save», чтобы сохранить настройки
                        </p>
                    </div>
                </div>

                <p class="error-mes"></p>

                <button class="popup-instruction__button popup-instruction__button_submite vipserver-submit"><span>Подтвердить и купить робуксы</span><div class="loader"><div></div><div></div><div></div><div></div></div></button>
    
                <p class="popup-instruction__text_accept">Нажимая на кнопку «Купить робуксы» я подтверждаю, что установил(а) цену Place на <span class="instruction-price__full"></span> и сохранил(а) данные настройки, чтобы получить <span class="instruction-price__user"></span> R$ на свой аккаунт после оплаты.</p>
            </div>
        </div>
        <button class="popup-instruction__button popup-instruction__button_close popup__close"></button>
    </div>
</section>