// Variables:
$color-white: #fff;
$color-black: #23272a;
$color-blue-dark: #060e26;
$color-grey: #f6f6f6;
$color-grey-light: #bdbdbd;
$color-lilac: #5B7EFB;
$color-lilac-light: #cbdaff;
$color-space: #060e26;
$color-red: #d05757;
$color-green: #2aca60;